* {
  box-sizing: border-box;
}
.list-tabel {
  max-width: 900px;
  margin: 20px auto;
}

.list-tabel table {
  width: 100%;
  border-spacing: 0;
}

td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding: 8px;
  text-align: center;
}

table thead {
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
}
th {
  padding: 10px;
}

button {
  padding: 8px 20px;
  border: 0;
  background-color: rgb(18, 120, 221);
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(12, 98, 184);
}

form {
  border: 1px solid #000000;
  padding: 20px;
  border-radius: 10px;
}

form div {
  margin-bottom: 10px;
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
}

form div label {
  font-weight: 500;
}

form div input {
  padding: 5px;
}

nav {
  /* background-color: #4b5d67; */
  margin: 0;
  padding: 0 100px;
  display: flex;
  border-bottom: 2px solid #4b5d67;
  justify-content: space-between;
}

nav p {
  color: white;
  cursor: pointer;
}

nav ul {
  justify-content: flex-end;
  align-items: center;
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style: none;
  padding: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

.home {
  max-width: 1000px;
  padding: 30px 10px;
  border: 1px solid #000000;
  margin: 10px auto;
  border-radius: 10px;
}
