* {
  box-sizing: border-box;
}
.list-tabel {
  max-width: 900px;
  margin: 20px auto;
}

.list-tabel table {
  width: 100%;
  border-spacing: 0;
}

td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding: 8px;
  text-align: center;
}

table thead {
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
}
th {
  padding: 10px;
}

button {
  padding: 8px 20px;
  border: 0;
  background-color: rgb(18, 120, 221);
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(12, 98, 184);
}

form {
  border: 1px solid #000000;
  padding: 20px;
  border-radius: 10px;
}

form div {
  margin-bottom: 10px;
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
}

form div label {
  font-weight: 500;
}

form div input {
  padding: 5px;
}
